<body>
    <p>Hi {{firstName}},</p>
    <p>Welcome to NightOut the premier local directory of the areas best Restaurants, Bars and Entertainment.</p>
    <p> NightOut allows you to select your favorites by clicking on the heart symbol on the business profile page. You will then receive notifications from your favorites of all the specials and events they have scheduled.</p>
    <p>You can download coupons, make reservations, post reviews and add images.</p>
    <p> Upload your photo to make your profile even more personal.</p>
    <p> Get your NightOut information anytime, anywhere with our MyNightOut app available in the App Store or Google Play.</p>
    <p> Thank you for joining. You can now enjoy a better night out using the NightOut directory! </p>
    <p>-Team NightOut
    </p>

    <p>
        <a href="http://itunes.apple.com/us/app/mynightout/id425450580?mt=8&ls=1" target="_blank">My Night Out phone app for Ios</a>
    </p>
    <p>
        <a href="https://market.android.com/details?id=com.mynightout.android" target="_blank">My Night Out phone app for Android</a>
    </p>
</body>